.root {
    -fx-background-image: url('../Images/tetrisbg4.png');
    -fx-background-repeat: repeat-y;
}

VBox {
    -fx-alignment: center;
}

.button {
    -fx-font-size: 20px;
    -fx-background-color: #66CCFF;
}

.title {
    -fx-font-size: 60px;
    -fx-text-fill: #CCFFCC;
}